<div>
  <img id="moveToSpot" hidden="true" src="<%= image_url('moveoption.png') %>">
  <img id="a1_master" hidden="true" src="<%= image_url("a1.png") %>">
  <img id="d1_2_master" hidden="true" src="<%= image_url("d1_2.png") %>">
  <img id="fo_master" hidden="true" src="<%= image_url("fo.png") %>">
  <img id="fo_2_master" hidden="true" src="<%= image_url("fo_2.png") %>">
  <img id="ball_master" hidden="true" src="<%= image_url("ball.png") %>">
</div>

<table>
  <tbody>
  <tr valign="top">
    <td>Trash Talk Panel</td>
    <td width="400"><div class="fieldContainer"></div></td>
    <td><div id="clock" class="jumbo"></div></td>
  </tr>
  </tbody>
</table>
<div><%= link_to 'Back', games_path %></div>

<script>
  $(document).ready(function ()
  {
    initialiseRowsAndColumns();
    initialiseMoveables();

    var $players = $(".player");
    $players.draggable({containment: 'fieldContainer', revert: "invalid"});
    $dropContainer = $(".fieldContainer");

    $dropContainer.droppable({
      accept: ".player",
      activate: dragStarted,
      drop: dragDrop
    });

    function dragStarted(e, ui)
    {
      if (ui.draggable[0].id.indexOf("ball") == -1)
      {
        addMoveOptions(ui.draggable[0].id);
        var containmentCoords = getContainmentCoords(ui.draggable[0].id);

        $("#" + ui.draggable[0].id).draggable("option", "containment", containmentCoords);
        $("#" + ui.draggable[0].id).data('uiDraggable')._setContainment();

        var row = parseInt(ui.draggable[0].style["top"].replace("px", "")) / moveablesSize;
        var column = parseInt(ui.draggable[0].style["left"].replace("px", "")) / moveablesSize;

        $('.moveOption').fadeIn(200);
      }
    }

    function dragDrop(e,ui)
    {
      var id = ui.draggable[0].id;
      var xPos = parseInt(ui.draggable[0].style["left"].replace("px", ""));
      var yPos = parseInt(ui.draggable[0].style["top"].replace("px", ""));
      var newXPos = Math.round(xPos / moveablesSize) * moveablesSize;
      var newYPos = Math.round(yPos / moveablesSize) * moveablesSize;
      var col = (newXPos / moveablesSize);
      var row = (newYPos / moveablesSize);

      $('.moveOption').fadeOut(200);
      $('.moveOption').promise().done(function (){$('.moveOption').remove()});
      $("#" + id).remove();
      addMoveable(nextMove(), id, row, col);
    }
    var mode = "FO";
    if (mode == "FO")
    {
      runFaceoff();
    }

  });

</script>
